<%= link_to "Ver lista completa", products_path %>

<h2>Minha lista de presentes</h2>

<ul class="gifts-list card">
<% @user_products.each do |product| %>
	<li>
		<span class="img" style="background-image: url(<%= product.image %>)"></span>
		<span class="name"><%= product.name %></span>
		<div class="actions">
			<span><%= link_to t(:delete), product_path(product), method: :delete, class: "button",data: { confirm: "Tem certeza que deseja remover item '#{product.name}' da sua lista?" } %></span>
		</div>
	</li>
<% end %>
<% if @user_products.count == 0 %>
	<li>
		<p>Sua lista de presentes está vazia =(</p>
		<p><%= link_to "Ver lista de presentes", products_path %></p>
	</li>
<% end %> 
</ul>