<% if @product.errors.any? %>
	<%= @product.errors %>
<% end %>

<%= form_for [:admin, @product] do |product| %>
	
	<p>
		<%= product.label :name %>
		<%= product.text_field :name %>
	</p>

	<p>
		<%= product.label :brand %>
		<%= product.text_field :brand %>
	</p>

	<p>
		<%= product.label :image %>
		<%= product.text_field :image %>
	</p>

	<p>
		<%= product.label :url %>
		<%= product.text_field :url %>
	</p>

	<p>
		<%= product.label :category %>
		<%= product.select :category, {include_blank: 'category'} do %>
			<%= options_for_select ([[t(:low), :low], [t(:med), :med], [t(:high), :high], [t(:diaper), :diaper] ]) %>
		<% end %>
	</p>

	<% if params[:action] == 'new' %>
		<p>
			<%= label_tag :quantity %>
			<%= number_field_tag :quantity %>
		</p>
	<% end %>

	<p> <%= product.submit %> </p>
<% end %>