<% quantity = product.second.count %>
<% product 	= product.second.first %>
<li class="<%= "disabled" unless product.enabled?%>" id=<%="product_#{product.id}"%>>
	<span class="enabled"><%= link_to t("enabled.#{product.enabled}"), admin_product_path(product, product: { enabled: !product.enabled } ), method: :put %></span>
	<span class="img" style="background-image: url(<%= product.image %>)"></span>
	<span class="quantity"><%= quantity %></span>
	<span class="name"><%= product.name %></span>
	<div class="actions">
		<span><%= link_to :edit, edit_admin_product_path(product) %></span>
		<span><%= link_to :delete, admin_product_path(product), method: :delete, data: { confirm: "Tem certeza que deseja apagar o item '#{product.name}' " } %></span>
	</div>
</li>