<p>
	<strong><%= t(:name) %>: </strong>
	<%= @product.name %>
</p>

<p>
	<strong><%= t(:url) %>: </strong>
	<%= @product.url %>
</p>

<p>
	<strong><%= t(:image) %>: </strong>
	<%= @product.image %>
</p>

<p>
	<strong><%= t(:category) %>: </strong>
	<%= @product.category %>
</p>