<section> 
	<h2><%= category %></h2>
	<ul class="gifts-list <%= category %>">
		<% products.each do |product| %>
			<% quantity = product.second.count %>
			<% product 	= product.second.first %>
			<li>
				<%= link_to "🔎", product.url, target:"_blank", class: "url" unless product.url.empty? %>
				<span class="img" style="background-image: url(<%= product.image %>)"></span>
				<span class="name"><strong>	<%= product.name %></strong><br><%= product.brand %></span>
				<div class="actions">
					<span><%= link_to t(:pick), edit_product_path(product) %></span>
				</div>
			</li>	
		<% end %>
	</ul>
</section>