<ul class="products-list card">
	<% @products.each do |product| %>
		<% quantity = product.second.count %>
		<% product 	= product.second.first %>
		<li>
			<span class="img" style="background-image: url(<%= product.image %>)"></span>
			<span class="quantity"><%= quantity %></span>
			<span class="name"><%= product.name %></span>
			<div class="actions">
				<span><%= link_to :edit, edit_product_path(product) %></span>
				<span><%= link_to :delete, product_path(product), method: :delete, data: { confirm: "Tem certeza que deseja apagar o item '#{product.name}' " } %></span>
			</div>
		</li>	
	<% end %>
</ul>