<%= content_tag :h2 do %>
	Você escolheu 
	<%= "a fralda" if @product.category == "diaper" %>
	<%= "o presente" unless @product.category == "diaper" %>

	<span class="name"><%= @product.name %></span>
	<span class="brand"><%= @product.brand %></span>
<% end %>

<%= link_to "referência", @product.url, target: "_blank" %>
<%= image_tag(@product.image) %>

<% if @product.category == "diaper" %>
	<%= link_to "Escolher presente", user_how_to_gift_path(current_user) %>
<% else %>
	<%= link_to "Ok!", user_path(current_user) %>
<% end %>