<%= content_tag :h2 do %>
	Você escolheu 
<% end %>

<div class="image">
	<span class="name"><%= @product.name %></span>
	<span class="brand"><%= @product.brand %></span>
	<%= image_tag(@product.image) %>
	<%= link_to "ver mais".html_safe, @product.url, target: "_blank" %>
</div>	

<% if @product.category == "diaper" %>
	<%= link_to "Escolher presente", user_how_to_gift_path(current_user), class: "button" %>
	<%= link_to "Não quero escolher o presente agora", user_path(current_user) %>
<% else %>
	<%= link_to "Ok!", user_path(current_user), class: "button" %>
<% end %>