<% if current_user %>
	<header id="user">
		<%= link_to "›", :back, class: "back-button" %> 
		<h1><%= page_title %></h1>
		<a href="" class="menu-button">&bull;&bull;&bull;</a>
		<nav class="menu">
			<%= image_tag current_user.image %>
			<span class="name"><%= current_user.name%></span>	
			<ul>
				<% if admin? %>
					<li><%= link_to "Produtos", admin_products_path %></li>
					<li><%= link_to "Cadastrar produto", new_admin_product_path %></li>
					<li><%= link_to "Quem escolheu o que", admin_users_path %></li>
				<% end %>
				<li><%= link_to "Logout", signout_path, id: "sign_out" %></li>
			</ul>
		</nav>		
	</header>
<% end %>