<% if current_user %>
	<header id="user">
		<%= link_to "›", :back, class: "back-button" %> 
		<h1><%= page_title %></h1>
		<a href="" class="menu-button">&bull;&bull;&bull;</a>
		<nav class="menu">
			<%= image_tag current_user.image %>
			<span class="name"><%= link_to current_user.name, user_path(current_user) %></span>	
			<ul>
				<li><%= link_to "Inicio", user_path(current_user) %></li>
				<li><%= link_to "Fraldas", products_path(category: 'diaper') %></li>
				<li><%= link_to "Lista de presentes", products_path %></li>
				<li><%= link_to "Logout", signout_path, id: "sign_out" %></li>
				<% if admin? %>
					<li style="height:10px; "></li>
					<li><%= link_to "Produtos", admin_products_path %></li>
					<li><%= link_to "Ca, user_path(current_user)astrar produto", new_admin_product_path %></li>
					<li><%= link_to "Quem escolheu o que", admin_users_path %></li>
					<li><%= link_to "Logs", admin_logs_path %></li>
				<% end %>
			</ul>
		</nav>		
	</header>
<% end %>